@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .jobtitle {
        @apply text-lg font-bold;
    }

    .tasklist {
        @apply list-disc list-inside;
    }

    .experience-title {
        @apply font-luckiest text-5xl sm:mt-8;
    }

    .experience-task-style {
        @apply space-y-2 font-normal break-words tracking-wider;
    }
}


/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
} */