@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .jobtitle {
        @apply text-lg font-bold;
    }

    .tasklist {
        @apply list-disc list-inside;
    }

    .experience-title {
        @apply font-luckiest text-5xl sm:mt-8;
    }

    .experience-task-style {
        @apply space-y-2 font-normal break-words tracking-wider;
    }

    .tab-button {
        @apply block p-4 text-black bg-gradient-to-t from-transparent via-neutral-100 to-neutral-100 rounded-lg cursor-pointer select-none
        active:translate-y-2  active:[box-shadow:0_0px_0_0_#D8D6E6,0_0px_0_0_#EFEFE8]
        active:border-b-[0px]
        transition-all duration-150 [box-shadow:0_3px_0_0_#D8D6E6,0_5px_0_0_#EFEFE8]
        border-b-[1px] border-gray-400;
    }

    .contact-input {
        @apply bg-gray-50 border border-gray-300 
        text-gray-600 text-sm rounded-lg w-full p-2.5
        focus:border-blue-500
    }
}